body{
  background-color: antiquewhite;
}

 /* .button-container {
  margin: 20px; 
   width: 100px; 
  border: solid black 1px; 
   background-color: red;
  color: black;
 }   */

.button-box{
  margin: 20px;
  height: 100px;
  width: 100px;
  background-color: red;
  color: black;
}






